nav.navbar.navbar-default {
  margin-bottom: 0;
}

.header {
  background-color: blue;
  background-color: #B0D6E4;
  background-color: #F9D74F;
  color: aliceblue;
  padding: 1rem;
  width: 100%;
  opacity: .9;
}